* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    padding: 20px;
}

header {
    background-color: #a00;
    color: white;
    text-align: center;
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    background-color: #c44;
    padding: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;

}

.content {
    flex: 2;
    padding: 20px;
    background-color: #ECF0F1;
    border-radius: 10px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #BDC3C7;
    border-radius: 10px;
}

h2{
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
    outline: 2px solid #a00;
    border-color: #a00;
    border: 2px solid tomato;
}

textarea {
    height: 80px;
}

select {
    background-color: white;
}

/* .radio-group, .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    width: max-content;
} */

/* .radio-group label, .checkbox-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
} */


button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a00;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #800;
    transform: scale(1.05);
}